# Игнорируем скрытую папку настроек Visual Studio
.vs/

# Игнорируем папки с результатами сборки
x64/
Debug/
Release/

# Игнорируем готовые запускаемые файлы программ
*.exe

# Игнорируем файлы настроек проекта
*.vcxproj.user

# ignore pycharm settings
.idea/